// Place all the styles related to the Place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ranking_service_title{
  width: 100%;
}

.ranking_result_img{
  width: 220px;
  height: 123px;
  object-fit: cover;
}

.ranking_title{
  width: 35%;
}

.ranking_content{
  width: 65%;
}
