// Place all the styles related to the Place controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ranking_result{
  padding-top:50px;
}

.ranking_service_title{
  width: 100%;
}

.ranking_result_img{
  width: 220px;
  height: 123px;
  object-fit: cover;
}

.ranking_result li{
  width: 100%;
  margin: 5px 0px;
  padding: 0px 10px 10px 0px;
}

.ranking_result a{
  display: block;
  width: 100%;
  display: flex;
}

.ranking_title{
  width: 35%;
}

.ranking_content{
  width: 65%;
}
